<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eqc.system.mapper.EquipmentConsumablesMapper">

    <resultMap type="com.eqc.system.domain.EquipmentConsumables" id="EquipmentConsumablesResult">
        <result property="consumableId" column="consumable_id"/>
        <result property="equipmentId" column="equipment_id"/>
        <result property="consumableName" column="consumable_name"/>
        <result property="consumableNo" column="consumable_no"/>
        <result property="activationTime" column="activation_time"/>
        <result property="validity" column="validity"/>
        <result property="validityUint" column="validity_uint"/>
        <result property="dueTime" column="due_time"/>
        <result property="chargeUser" column="charge_user"/>
        <result property="status" column="status"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="remark" column="remark"/>
    </resultMap>
    <select id="selectNoticeList" resultType="com.eqc.system.domain.dto.ConsumableNoticeDto">
        select
            c.consumable_id as comsumableId,
            c.equipment_id as equipmentId,
            e.equipment_no as equipmentNo,
            e.equipment_name as equipmentName,
            dept.dept_name as equipmentDept,
            e.location as equipmentLocation,
            c.consumable_name as consumableName,
            c.consumable_no as consumableNo,
            c.activation_time as activationTime,
            c.due_time as dueTime,
            c.charge_user as chargeUser,
            u.user_name as chargeUserName,
            u.nick_name as chargeNickName,
            u.email as chargeUserEmail,
            u.phonenumber as chargeUserPhonenumber,
            c.status as status,
            c.remark as remark
        from equipment_consumables c
        join equipments e on c.equipment_id = e.equipment_id
        left join sys_user u on u.user_id = c.charge_user
        left join sys_dept dept on e.department = dept.dept_id
        where u.del_flag = '0' and dept.del_flag = '0'
            and c.status = '0' and c.due_time &lt;= #{date}
    </select>


</mapper>
