<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eqc.system.mapper.EquipmentsMapper">

    <resultMap type="com.eqc.system.domain.Equipments" id="EquipmentsResult">
        <result property="equipmentId" column="equipment_id"/>
        <result property="equipmentName" column="equipment_name"/>
        <result property="equipmentNo" column="equipment_no"/>
        <result property="equipmentSupplier" column="equipment_supplier"/>
        <result property="department" column="department"/>
        <result property="location" column="location"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="remark" column="remark"/>
    </resultMap>


</mapper>
